body{
    
    
}
.calculator {
    margin: auto;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 20px;
    background: linear-gradient(to right, #3a3f44, #0e0f10);
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .display {
    height: 50px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #3a3f44;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: 'Roboto', sans-serif;
  }
  
  .operator {
    background-color: #f0ad4e;
    color: #fff;
  }
  
  button:hover {
    background-color: #ffce2b;
  }
  
  button:active {
    background-color: #f0ad4e;
    box-shadow: none;
  }
  
  button:focus {
    outline: none;
  }
  
  button[name="="] {
    background-color: #f0ad4e;
    grid-column: span 2;
  }
  
  button[name="."], button[name="%"] {
    font-size: 26px;
  }
